<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style>

/*
what am i styling {
  the style
}
*/


{}
/*
putting something here was the only way to get the h1 to change font
*/

h1{
color: white;
font-family: "open sans";
}

h2{
	font-size: 60px;
	color: #B3BFB8;
}

h3{
	color: #3C493F;
	font-family: "courier new";
}

h6{
color: white;
font-family: "open sans";
font-size: 12px;
font-weight: lighter;
}


p{
	font-family: "open sans";
	background-color: white;
	color: #8a997a
}


li{
	font-family: "courier new";
	color: white;
}


body{
	background-color: #8a997a;
}

.description{
color: #3C493F;
font-size: 20px;
font-weight: bold;
}

</style>
</body>
</html>